In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('C:/Users/dikky/Data Science Fintech/CRX Data Set in Excel.xls')

print(df)

      id Gender    Age       Debt Marital_Status Bank_Customer  \
0    278      b  24.58     13.500              y             p
1     71      b  34.83      4.000              u             g
2    626      b  22.00   7835.000              y             p
3    238      b  42.83   4625.000              u             g
4    545      b  44.25     11.000              y             p
5    389      b  22.92      0.170              u             g
6    405      a  69.50      6.000              u             g
7    440      b  23.08      0.000              u             g
8    621      b  22.67      0.165              u             g
9    353      b  30.75   1585.000              u             g
10   387      b  21.17      0.000              u             g
11   514      b  22.67      2.540              y             p
12   171      b  41.33      0.000              u             g
13    92      b    NaN      5.000              y             p
14   515      b    NaN     10.500              u             g
15   643      a  52.50      7.000              u             g
16   512      a  44.33      0.000              u             g
17   449      b  20.00      7.000              u             g
18   478      b  22.75     11.500              u             g
19    56      b  23.17      0.000              u             g
20   660      b  22.25      9.000              u             g
21   665      b  31.83      0.040              y             p
22   606      b  16.17      0.040              u             g
23   679      a  20.08      1.250              u             g
24   261      a  52.17      0.000              y             p
25   655      a  21.08      5.000              y             p
26   513      b  20.25      9.960              u             g
27    63      a  20.42      0.835              u             g
28   189      a  33.08   4625.000              u             g
29    28      b  57.42      8.500              u             g
..   ...    ...    ...        ...            ...           ...
660  139      a  26.92     13.500              u             g
661  505      b  31.33     19.500              u             g
662   32      b  49.50   7585.000              u             g
663  589      b  25.33      0.580              u             g
664  445      a    NaN     11.250              u             g
665  561      b  26.75   1125.000              u             g
666  284      b  23.25  12625.000              u             g
667  588      b  26.67      1.750              y             p
668   52      b  37.42      2.040              u             g
669  496      a  25.00      0.875              u             g
670  205      a  35.42     12.000              u             g
671  234      a  58.42     21.000              u             g
672  230      b  25.17      3.500              u             g
673  160      b  27.67      2.000              u             g
674  575      b  32.25      0.165              y             p
675  217      b  55.92     11.500              u             g
676  237      b  21.33      7.500              u             g
677   29      b  42.08      1.040              u             g
678  164      a  60.58     16.500              u             g
679  167      a  32.33      0.540              u             g
680  117      b  52.50      6.500              u             g
681  584      a  28.08     15.000              y             p
682  180      b  47.67      0.290              u             g
683   67      b  25.50      0.375              u             g
684  245      b  33.17      3.040              y             p
685  243      a  18.75      7.500              u             g
686    6      b  33.17      1.040              u             g
687   65      b  34.17      1.540              u             g
688  132      a  47.42      8.000              u             g
689  317      b  17.50     22.000              l            gg

    Education_Level  Years_Employed  Prior_Default  Employed  Credit_Score  \
0                ff           0.000              1         0             0
1                 d          12.500              0         0             0
2                 i           0.165              1         0             0
3                 q           4.580              0         0             0
4                 d           1.500              0         0             0
5                 m           0.085              1         0             0
6                ff           0.000              1         0             0
7                 k           1.000              1         1            11
8                 c           2.250              1         0             0
9                 d           0.585              1         0             0
10                c           0.500              1         0             0
11                c        2585.000              0         0             0
12                c          15.000              0         0             0
13               aa           8.500              0         0             0
14                x           6.500              0         0             0
15               aa           3.000              1         0             0
16                c           2.500              0         0             0
17                c           0.500              1         0             0
18                i           0.415              1         0             0
19               cc           0.085              0         0             0
20               aa           0.085              1         0             0
21                m           0.040              1         0             0
22                c           0.040              1         0             0
23                c           0.000              1         0             0
24               ff           0.000              1         0             0
25               ff           0.000              1         0             0
26                e           0.000              0         0             0
27                q        1585.000              0         1             1
28                q        1625.000              0         1             2
29                e           7.000              0         1             3
..              ...             ...            ...       ...           ...
660               q           5.000              0         1             2
661               c           7.000              0         1            16
662               i        7585.000              0         1            15
663               c           0.290              0         1             7
664              ff           0.000              1         0             0
665               x           1.250              0         0             0
666               c           0.125              1         1             2
667               c           1.000              0         1             5
668               w           0.040              0         0             0
669               x           1.040              0         0             0
670               q          14.000              0         1             8
671               i          10.000              0         1            13
672              cc           0.625              0         1             7
673               x           1.000              0         1             4
674               c           3.250              0         1             1
675              ff           5.000              0         1             5
676              aa        1415.000              0         1             1
677               w           5.000              0         1             6
678               q          11.000              0         0             0
679              cc           0.040              0         0             0
680               k           6.290              0         1            15
681               e           0.000              0         0             0
682               c          15.000              0         1            20
683               m           0.250              0         1             3
684               c           2.040              0         1             1
685               q           2.710              0         1             5
686               r           6.500              0         0             0
687              cc           1.540              0         1             1
688               e           6.500              0         1             6
689              ff           0.000              1         0             0

    Driver_License Citizen  Zip_Code  Income  Approved
0                f       g       NaN       0         0
1                t       g       NaN       0         0
2                t       g       NaN       0         0
3                f       s       0.0       0         1
4                f       s       0.0       0         0
5                f       s       0.0       0         0
6                f       s       0.0       0         0
7                f       s       0.0       0         0
8                t       s       0.0       0         1
9                t       s       0.0       0         0
10               t       s       0.0       0         0
11               f       g       0.0       0         1
12               f       g       0.0       0         1
13               f       g       0.0       0         0
14               f       g       0.0       0         1
15               f       g       0.0       0         0
16               f       g       0.0       0         1
17               f       g       0.0       0         0
18               f       g       0.0       0         0
19               f       g       0.0       0         1
20               f       g       0.0       0         0
21               f       g       0.0       0         0
22               f       g       0.0       0         1
23               f       g       0.0       0         0
24               f       g       0.0       0         0
25               f       g       0.0       0         0
26               f       g       0.0       0         1
27               f       g       0.0       0         1
28               f       g       0.0       0         1
29               f       g       0.0       0         1
..             ...     ...       ...     ...       ...
660              f       g       0.0    5000         1
661              f       g       0.0    5000         1
662              t       g       0.0    5000         1
663              t       g      96.0    5124         1
664              f       g       NaN    5200         0
665              f       g       0.0    5298         1
666              f       g       0.0    5552         0
667              t       g     160.0    5777         1
668              t       g     400.0    5800         1
669              t       g     160.0    5860         1
670              f       g       0.0    6590         1
671              f       g       0.0    6700         1
672              f       g       0.0    7059         1
673              f       g     140.0    7544         1
674              t       g     432.0    8000         1
675              f       g       0.0    8851         1
676              f       g      80.0    9800         1
677              t       g     500.0   10000         1
678              t       g      21.0   10561         1
679              f       g     440.0   11177         1
680              f       g       0.0   11202         1
681              f       g       0.0   13212         1
682              f       g       0.0   15000         1
683              f       g     260.0   15108         1
684              t       g     180.0   18027         1
685              f       g       NaN   26726         1
686              t       g     164.0   31285         1
687              t       g     520.0   50000         1
688              f       g     375.0   51100         1
689              t       p     450.0  100000         1

[690 rows x 16 columns]

In [2]:
# Untuk tahu function/action yang bisa dilakukan untuk dataframe
dir(df)

['Age',
 'Approved',
 'Bank_Customer',
 'Citizen',
 'Credit_Score',
 'Debt',
 'Driver_License',
 'Education_Level',
 'Employed',
 'Gender',
 'Income',
 'Marital_Status',
 'Prior_Default',
 'T',
 'Years_Employed',
 'Zip_Code',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_nsorted',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combineAdd',
 'combineMult',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'icol',
 'id',
 'idxmax',
 'idxmin',
 'iget_value',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'irow',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterkv',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_wide',
 'to_xarray',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [3]:
# get the number of rows and columns
print(df.shape)

print(df.head())

(690, 16)
    id Gender    Age    Debt Marital_Status Bank_Customer Education_Level  \
0  278      b  24.58    13.5              y             p              ff
1   71      b  34.83     4.0              u             g               d
2  626      b  22.00  7835.0              y             p               i
3  238      b  42.83  4625.0              u             g               q
4  545      b  44.25    11.0              y             p               d

   Years_Employed  Prior_Default  Employed  Credit_Score Driver_License  \
0           0.000              1         0             0              f
1          12.500              0         0             0              t
2           0.165              1         0             0              t
3           4.580              0         0             0              f
4           1.500              0         0             0              f

  Citizen  Zip_Code  Income  Approved
0       g       NaN       0         0
1       g       NaN       0         0
2       g       NaN       0         0
3       s       0.0       0         1
4       s       0.0       0         0

In [4]:
# get the dtype of each column / tipe variabel dari semua faktor
print(df.dtypes)

id                   int64
Gender              object
Age                float64
Debt               float64
Marital_Status      object
Bank_Customer       object
Education_Level     object
Years_Employed     float64
Prior_Default        int64
Employed             int64
Credit_Score         int64
Driver_License      object
Citizen             object
Zip_Code           float64
Income               int64
Approved             int64
dtype: object

In [5]:
# get more information about our data -> missing values, etc
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
id                 690 non-null int64
Gender             678 non-null object
Age                678 non-null float64
Debt               690 non-null float64
Marital_Status     684 non-null object
Bank_Customer      684 non-null object
Education_Level    681 non-null object
Years_Employed     690 non-null float64
Prior_Default      690 non-null int64
Employed           690 non-null int64
Credit_Score       690 non-null int64
Driver_License     690 non-null object
Citizen            690 non-null object
Zip_Code           677 non-null float64
Income             690 non-null int64
Approved           690 non-null int64
dtypes: float64(4), int64(6), object(6)
memory usage: 86.3+ KB
None

In [6]:
# show the first 5 observations
print(df.head())

    id Gender    Age    Debt Marital_Status Bank_Customer Education_Level  \
0  278      b  24.58    13.5              y             p              ff
1   71      b  34.83     4.0              u             g               d
2  626      b  22.00  7835.0              y             p               i
3  238      b  42.83  4625.0              u             g               q
4  545      b  44.25    11.0              y             p               d

   Years_Employed  Prior_Default  Employed  Credit_Score Driver_License  \
0           0.000              1         0             0              f
1          12.500              0         0             0              t
2           0.165              1         0             0              t
3           4.580              0         0             0              f
4           1.500              0         0             0              f

  Citizen  Zip_Code  Income  Approved
0       g       NaN       0         0
1       g       NaN       0         0
2       g       NaN       0         0
3       s       0.0       0         1
4       s       0.0       0         0

In [7]:
# summary statistics
print(df.describe())

               id         Age          Debt  Years_Employed  Prior_Default  \
count  690.000000  678.000000    690.000000      690.000000     690.000000
mean   344.500000   31.568171   1018.142877      349.600319       0.476812
std    199.330128   11.957862   3109.646481     1400.610289       0.499824
min      0.000000   13.750000      0.000000        0.000000       0.000000
25%    172.250000         NaN      1.000000        0.165000       0.000000
50%    344.500000         NaN      3.750000        1.000000       0.000000
75%    516.750000         NaN     11.750000        4.000000       1.000000
max    689.000000   80.250000  26335.000000    14415.000000       1.000000

         Employed  Credit_Score     Zip_Code         Income    Approved
count  690.000000     690.00000   677.000000     690.000000  690.000000
mean     0.427536       2.40000   184.014771    1017.385507    0.444928
std      0.495080       4.86294   173.806768    5210.102598    0.497318
min      0.000000       0.00000     0.000000       0.000000    0.000000
25%      0.000000       0.00000          NaN       0.000000    0.000000
50%      0.000000       0.00000          NaN       5.000000    0.000000
75%      1.000000       3.00000          NaN     395.500000    1.000000
max      1.000000      67.00000  2000.000000  100000.000000    1.000000

C:\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

In [8]:
# correlation semua
print(df.corr())
# correlation untuk 2 faktor saja
np.corrcoef(df['Income'], df['Approved'])

                      id       Age      Debt  Years_Employed  Prior_Default  \
id              1.000000 -0.109883 -0.036942       -0.130350       0.455131
Age            -0.109883  1.000000 -0.006306        0.096422      -0.206151
Debt           -0.036942 -0.006306  1.000000        0.151021      -0.017077
Years_Employed -0.130350  0.096422  0.151021        1.000000      -0.141450
Prior_Default   0.455131 -0.206151 -0.017077       -0.141450       1.000000
Employed       -0.186555  0.084307  0.013858        0.167418      -0.432032
Credit_Score   -0.207436  0.185912 -0.008493        0.107589      -0.379532
Zip_Code        0.026627 -0.079812 -0.018216        0.000698       0.068072
Income         -0.086327  0.018553 -0.031693       -0.013758      -0.090012
Approved       -0.372447  0.162881  0.022560        0.166618      -0.720407

                Employed  Credit_Score  Zip_Code    Income  Approved
id             -0.186555     -0.207436  0.026627 -0.086327 -0.372447
Age             0.084307      0.185912 -0.079812  0.018553  0.162881
Debt            0.013858     -0.008493 -0.018216 -0.031693  0.022560
Years_Employed  0.167418      0.107589  0.000698 -0.013758  0.166618
Prior_Default  -0.432032     -0.379532  0.068072 -0.090012 -0.720407
Employed        1.000000      0.571498 -0.053772  0.077652  0.458301
Credit_Score    0.571498      1.000000 -0.120096  0.063692  0.406410
Zip_Code       -0.053772     -0.120096  1.000000  0.066853 -0.100935
Income          0.077652      0.063692  0.066853  1.000000  0.175657
Approved        0.458301      0.406410 -0.100935  0.175657  1.000000

array([[ 1.       ,  0.1756572],
       [ 0.1756572,  1.       ]])

In [9]:
# count the total number of missing values in your data
print(np.count_nonzero(df.isnull()))

58

In [10]:
# count missing values for select variabel
print(np.count_nonzero(df['Zip_Code'].isnull()))

13

In [11]:
## Missing Values

# remove rows with nan
temp = df.dropna()

test = df['Gender'].dropna()

print(test)
print(temp.info())

0      b
1      b
2      b
3      b
4      b
5      b
6      a
7      b
8      b
9      b
10     b
11     b
12     b
13     b
14     b
15     a
16     a
17     b
18     b
19     b
20     b
21     b
22     b
23     a
24     a
25     a
26     b
27     a
28     a
29     b
      ..
660    a
661    b
662    b
663    b
664    a
665    b
666    b
667    b
668    b
669    a
670    a
671    a
672    b
673    b
674    b
675    b
676    b
677    b
678    a
679    a
680    b
681    a
682    b
683    b
684    b
685    a
686    b
687    b
688    a
689    b
Name: Gender, dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 653 entries, 3 to 689
Data columns (total 16 columns):
id                 653 non-null int64
Gender             653 non-null object
Age                653 non-null float64
Debt               653 non-null float64
Marital_Status     653 non-null object
Bank_Customer      653 non-null object
Education_Level    653 non-null object
Years_Employed     653 non-null float64
Prior_Default      653 non-null int64
Employed           653 non-null int64
Credit_Score       653 non-null int64
Driver_License     653 non-null object
Citizen            653 non-null object
Zip_Code           653 non-null float64
Income             653 non-null int64
Approved           653 non-null int64
dtypes: float64(4), int64(6), object(6)
memory usage: 86.7+ KB
None

In [12]:
# fill na with 0
temp = df.fillna(0)
print(temp.info())

print(temp.groupby(['Gender']).count())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
id                 690 non-null int64
Gender             690 non-null object
Age                690 non-null float64
Debt               690 non-null float64
Marital_Status     690 non-null object
Bank_Customer      690 non-null object
Education_Level    690 non-null object
Years_Employed     690 non-null float64
Prior_Default      690 non-null int64
Employed           690 non-null int64
Credit_Score       690 non-null int64
Driver_License     690 non-null object
Citizen            690 non-null object
Zip_Code           690 non-null float64
Income             690 non-null int64
Approved           690 non-null int64
dtypes: float64(4), int64(6), object(6)
memory usage: 86.3+ KB
None
         id  Age  Debt  Marital_Status  Bank_Customer  Education_Level  \
Gender
0        12   12    12              12             12               12
a       210  210   210             210            210              210
b       468  468   468             468            468              468

        Years_Employed  Prior_Default  Employed  Credit_Score  Driver_License  \
Gender
0                   12             12        12            12              12
a                  210            210       210           210             210
b                  468            468       468           468             468

        Citizen  Zip_Code  Income  Approved
Gender
0            12        12      12        12
a           210       210     210       210
b           468       468     468       468

In [13]:
df_missing = df
#fill the missing values with select data.
df_missing["Gender"] = df_missing["Gender"].fillna("b")
# replace the missing value with median or mean
df_missing["Age"].fillna(df_missing["Age"].median(), inplace=True)
# replace the others missing values variabel
df_missing["Marital_Status"] = df_missing["Marital_Status"].fillna("u")
df_missing["Bank_Customer"] = df_missing["Bank_Customer"].fillna("g")
df_missing["Education_Level"] = df_missing["Education_Level"].fillna("c")
print(df_missing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
id                 690 non-null int64
Gender             690 non-null object
Age                690 non-null float64
Debt               690 non-null float64
Marital_Status     690 non-null object
Bank_Customer      690 non-null object
Education_Level    690 non-null object
Years_Employed     690 non-null float64
Prior_Default      690 non-null int64
Employed           690 non-null int64
Credit_Score       690 non-null int64
Driver_License     690 non-null object
Citizen            690 non-null object
Zip_Code           677 non-null float64
Income             690 non-null int64
Approved           690 non-null int64
dtypes: float64(4), int64(6), object(6)
memory usage: 86.3+ KB
None

In [14]:
## Transformation - Change String to Numbers

df_transform = df_missing
# Create dummy variables for String type of data
temp  = pd.get_dummies(df_transform['Gender'], prefix='Gender')
print(temp)

     Gender_a  Gender_b
0         0.0       1.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         0.0       1.0
5         0.0       1.0
6         1.0       0.0
7         0.0       1.0
8         0.0       1.0
9         0.0       1.0
10        0.0       1.0
11        0.0       1.0
12        0.0       1.0
13        0.0       1.0
14        0.0       1.0
15        1.0       0.0
16        1.0       0.0
17        0.0       1.0
18        0.0       1.0
19        0.0       1.0
20        0.0       1.0
21        0.0       1.0
22        0.0       1.0
23        1.0       0.0
24        1.0       0.0
25        1.0       0.0
26        0.0       1.0
27        1.0       0.0
28        1.0       0.0
29        0.0       1.0
..        ...       ...
660       1.0       0.0
661       0.0       1.0
662       0.0       1.0
663       0.0       1.0
664       1.0       0.0
665       0.0       1.0
666       0.0       1.0
667       0.0       1.0
668       0.0       1.0
669       1.0       0.0
670       1.0       0.0
671       1.0       0.0
672       0.0       1.0
673       0.0       1.0
674       0.0       1.0
675       0.0       1.0
676       0.0       1.0
677       0.0       1.0
678       1.0       0.0
679       1.0       0.0
680       0.0       1.0
681       1.0       0.0
682       0.0       1.0
683       0.0       1.0
684       0.0       1.0
685       1.0       0.0
686       0.0       1.0
687       0.0       1.0
688       1.0       0.0
689       0.0       1.0

[690 rows x 2 columns]

In [15]:
#Untuk dummy variable, kita tidak perlu dua faktor Gender_a dan Gender_b, pilih salah satu
temp.drop(['Gender_a'], axis=1, inplace=True)
print(temp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 1 columns):
Gender_b    690 non-null float64
dtypes: float64(1)
memory usage: 5.5 KB
None

In [16]:
#combine the dummy variable back to the main dataframe and remove the old factor: gender
df_transform = df_transform.join(temp) #join the dummies to main table
df_transform = df_transform.drop(['Gender'], axis=1) # remove the String variabel
print(df_transform.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
id                 690 non-null int64
Age                690 non-null float64
Debt               690 non-null float64
Marital_Status     690 non-null object
Bank_Customer      690 non-null object
Education_Level    690 non-null object
Years_Employed     690 non-null float64
Prior_Default      690 non-null int64
Employed           690 non-null int64
Credit_Score       690 non-null int64
Driver_License     690 non-null object
Citizen            690 non-null object
Zip_Code           677 non-null float64
Income             690 non-null int64
Approved           690 non-null int64
Gender_b           690 non-null float64
dtypes: float64(5), int64(6), object(5)
memory usage: 86.3+ KB
None

In [17]:
# Dummy Variables - untuk sisa dari faktor yang string
temp  = pd.get_dummies(df_transform['Driver_License'], prefix='Driver_License')
temp.drop(['Driver_License_f'], axis=1, inplace=True)
df_transform = df_transform.join(temp) #join the dummies to main table
df_transform = df_transform.drop(['Driver_License'], axis=1) # remove the String variabel
temp  = pd.get_dummies(df_transform['Citizen'], prefix='Citizen')
temp.drop(['Citizen_p'], axis=1, inplace=True)
df_transform = df_transform.join(temp) #join the dummies to main table
df_transform = df_transform.drop(['Citizen'], axis=1) # remove the String variabel
temp  = pd.get_dummies(df_transform['Bank_Customer'], prefix='Bank_Customer')
temp.drop(['Bank_Customer_gg'], axis=1, inplace=True)
df_transform = df_transform.join(temp) #join the dummies to main table
df_transform = df_transform.drop(['Bank_Customer'], axis=1) # remove the String variabel
temp  = pd.get_dummies(df_transform['Marital_Status'], prefix='Marital_Status')
temp.drop(['Marital_Status_l'], axis=1, inplace=True)
df_transform = df_transform.join(temp) #join the dummies to main table
df_transform = df_transform.drop(['Marital_Status'], axis=1) # remove the String variabel

In [18]:
## Transformation - Classify several strings to one group

# Make group for various Education Level
Education_Level_Category =    {
                        'cc': 'high',
                        'q': 'high',
                        'r': 'high',
                        'x': 'high',
                        'aa': 'low',
                        'd': 'low',
                        'ff': 'low',
                        'i': 'low',
                        'j': 'low',
                        'k': 'low',
                        'c': 'normal',
                        'e': 'normal',
                        'm': 'normal',
                        'w': 'normal',
                    }
df_transform['Education_Level_Group'] = df_transform['Education_Level'].map(Education_Level_Category)
print(df_transform.head())

    id    Age    Debt Education_Level  Years_Employed  Prior_Default  \
0  278  24.58    13.5              ff           0.000              1
1   71  34.83     4.0               d          12.500              0
2  626  22.00  7835.0               i           0.165              1
3  238  42.83  4625.0               q           4.580              0
4  545  44.25    11.0               d           1.500              0

   Employed  Credit_Score  Zip_Code  Income  Approved  Gender_b  \
0         0             0       NaN       0         0       1.0
1         0             0       NaN       0         0       1.0
2         0             0       NaN       0         0       1.0
3         0             0       0.0       0         1       1.0
4         0             0       0.0       0         0       1.0

   Driver_License_t  Citizen_g  Citizen_s  Bank_Customer_g  Bank_Customer_p  \
0               0.0        1.0        0.0              0.0              1.0
1               1.0        1.0        0.0              1.0              0.0
2               1.0        1.0        0.0              0.0              1.0
3               0.0        0.0        1.0              1.0              0.0
4               0.0        0.0        1.0              0.0              1.0

   Marital_Status_u  Marital_Status_y Education_Level_Group
0               0.0               1.0                   low
1               1.0               0.0                   low
2               0.0               1.0                   low
3               1.0               0.0                  high
4               0.0               1.0                   low

In [19]:
#dari faktor grouping education level, harus kembali dibuat jadi dummy variable
temp  = pd.get_dummies(df_transform['Education_Level_Group'], prefix='Education_Level_Group')
temp.drop(['Education_Level_Group_normal'], axis=1, inplace=True)
df_transform = df_transform.join(temp) #join the dummies to main table
df_transform = df_transform.drop(['Education_Level_Group','Education_Level'], axis=1) # remove the String variabel
print(df_transform.head())

    id    Age    Debt  Years_Employed  Prior_Default  Employed  Credit_Score  \
0  278  24.58    13.5           0.000              1         0             0
1   71  34.83     4.0          12.500              0         0             0
2  626  22.00  7835.0           0.165              1         0             0
3  238  42.83  4625.0           4.580              0         0             0
4  545  44.25    11.0           1.500              0         0             0

   Zip_Code  Income  Approved  Gender_b  Driver_License_t  Citizen_g  \
0       NaN       0         0       1.0               0.0        1.0
1       NaN       0         0       1.0               1.0        1.0
2       NaN       0         0       1.0               1.0        1.0
3       0.0       0         1       1.0               0.0        0.0
4       0.0       0         0       1.0               0.0        0.0

   Citizen_s  Bank_Customer_g  Bank_Customer_p  Marital_Status_u  \
0        0.0              0.0              1.0               0.0
1        0.0              1.0              0.0               1.0
2        0.0              0.0              1.0               0.0
3        1.0              1.0              0.0               1.0
4        1.0              0.0              1.0               0.0

   Marital_Status_y  Education_Level_Group_high  Education_Level_Group_low
0               1.0                         0.0                        1.0
1               0.0                         0.0                        1.0
2               1.0                         0.0                        1.0
3               0.0                         1.0                        0.0
4               1.0                         0.0                        1.0

In [20]:
## Outliers - Apakah data input salah?

# we can create our own function to change max or min
def change_max(baris):
    if (baris['Years_Employed'] >= 50):
        return 50
    elif (baris['Years_Employed'] < 50):
        return baris['Years_Employed']
    else:
        return -1

temp['contoh'] = df_transform.apply(change_max, axis=1)
print(temp)

# or use the following code
df_transform.loc[df_transform['Years_Employed'] > 50, 'Years_Employed'] = df_transform["Years_Employed"].median()

     Education_Level_Group_high  Education_Level_Group_low  contoh
0                           0.0                        1.0   0.000
1                           0.0                        1.0  12.500
2                           0.0                        1.0   0.165
3                           1.0                        0.0   4.580
4                           0.0                        1.0   1.500
5                           0.0                        0.0   0.085
6                           0.0                        1.0   0.000
7                           0.0                        1.0   1.000
8                           0.0                        0.0   2.250
9                           0.0                        1.0   0.585
10                          0.0                        0.0   0.500
11                          0.0                        0.0  50.000
12                          0.0                        0.0  15.000
13                          0.0                        1.0   8.500
14                          1.0                        0.0   6.500
15                          0.0                        1.0   3.000
16                          0.0                        0.0   2.500
17                          0.0                        0.0   0.500
18                          0.0                        1.0   0.415
19                          1.0                        0.0   0.085
20                          0.0                        1.0   0.085
21                          0.0                        0.0   0.040
22                          0.0                        0.0   0.040
23                          0.0                        0.0   0.000
24                          0.0                        1.0   0.000
25                          0.0                        1.0   0.000
26                          0.0                        0.0   0.000
27                          1.0                        0.0  50.000
28                          1.0                        0.0  50.000
29                          0.0                        0.0   7.000
..                          ...                        ...     ...
660                         1.0                        0.0   5.000
661                         0.0                        0.0   7.000
662                         0.0                        1.0  50.000
663                         0.0                        0.0   0.290
664                         0.0                        1.0   0.000
665                         1.0                        0.0   1.250
666                         0.0                        0.0   0.125
667                         0.0                        0.0   1.000
668                         0.0                        0.0   0.040
669                         1.0                        0.0   1.040
670                         1.0                        0.0  14.000
671                         0.0                        1.0  10.000
672                         1.0                        0.0   0.625
673                         1.0                        0.0   1.000
674                         0.0                        0.0   3.250
675                         0.0                        1.0   5.000
676                         0.0                        1.0  50.000
677                         0.0                        0.0   5.000
678                         1.0                        0.0  11.000
679                         1.0                        0.0   0.040
680                         0.0                        1.0   6.290
681                         0.0                        0.0   0.000
682                         0.0                        0.0  15.000
683                         0.0                        0.0   0.250
684                         0.0                        0.0   2.040
685                         1.0                        0.0   2.710
686                         1.0                        0.0   6.500
687                         1.0                        0.0   1.540
688                         0.0                        0.0   6.500
689                         0.0                        1.0   0.000

[690 rows x 3 columns]

In [21]:
## Variable Selection
# Remove variables that not used in analyst
df_transform = df_transform.drop(['Zip_Code'], axis=1) # remove the String variabel

In [22]:
# correlation
print(df_transform.corr())

                                  id       Age      Debt  Years_Employed  \
id                          1.000000 -0.108239 -0.036942       -0.210905
Age                        -0.108239  1.000000 -0.004807        0.365031
Debt                       -0.036942 -0.004807  1.000000       -0.044062
Years_Employed             -0.210905  0.365031 -0.044062        1.000000
Prior_Default               0.455131 -0.204434 -0.017077       -0.315569
Employed                   -0.186555  0.086037  0.013858        0.173980
Credit_Score               -0.207436  0.187327 -0.008493        0.299573
Income                     -0.086327  0.018719 -0.031693        0.057870
Approved                   -0.372447  0.164086  0.022560        0.281818
Gender_b                    0.010658  0.035044  0.011308        0.083699
Driver_License_t           -0.039036  0.053599 -0.007619        0.104329
Citizen_g                   0.011495  0.012625  0.059575        0.011420
Citizen_s                  -0.024382 -0.018712 -0.053121        0.011487
Bank_Customer_g            -0.050789  0.106929  0.010634        0.047698
Bank_Customer_p             0.051876 -0.099477 -0.008467       -0.054342
Marital_Status_u           -0.050789  0.106929  0.010634        0.047698
Marital_Status_y            0.051876 -0.099477 -0.008467       -0.054342
Education_Level_Group_high -0.166231 -0.058549  0.054789        0.085773
Education_Level_Group_low   0.117306  0.056122 -0.003023       -0.120382

                            Prior_Default  Employed  Credit_Score    Income  \
id                               0.455131 -0.186555     -0.207436 -0.086327
Age                             -0.204434  0.086037      0.187327  0.018719
Debt                            -0.017077  0.013858     -0.008493 -0.031693
Years_Employed                  -0.315569  0.173980      0.299573  0.057870
Prior_Default                    1.000000 -0.432032     -0.379532 -0.090012
Employed                        -0.432032  1.000000      0.571498  0.077652
Credit_Score                    -0.379532  0.571498      1.000000  0.063692
Income                          -0.090012  0.077652      0.063692  1.000000
Approved                        -0.720407  0.458301      0.406410  0.175657
Gender_b                         0.026047 -0.077784     -0.024630 -0.002063
Driver_License_t                -0.091276  0.017043      0.006944  0.019201
Citizen_g                       -0.129207  0.248609      0.142938 -0.032303
Citizen_s                        0.092985 -0.227403     -0.130871 -0.058611
Bank_Customer_g                 -0.145073  0.175428      0.113968 -0.006899
Bank_Customer_p                  0.138535 -0.170268     -0.111077 -0.057273
Marital_Status_u                -0.145073  0.175428      0.113968 -0.006899
Marital_Status_y                 0.138535 -0.170268     -0.111077 -0.057273
Education_Level_Group_high      -0.256384  0.198481      0.138508  0.044411
Education_Level_Group_low        0.230829 -0.217392     -0.137442 -0.031031

                            Approved  Gender_b  Driver_License_t  Citizen_g  \
id                         -0.372447  0.010658         -0.039036   0.011495
Age                         0.164086  0.035044          0.053599   0.012625
Debt                        0.022560  0.011308         -0.007619   0.059575
Years_Employed              0.281818  0.083699          0.104329   0.011420
Prior_Default              -0.720407  0.026047         -0.091276  -0.129207
Employed                    0.458301 -0.077784          0.017043   0.248609
Credit_Score                0.406410 -0.024630          0.006944   0.142938
Income                      0.175657 -0.002063          0.019201  -0.032303
Approved                    1.000000 -0.028934          0.031625   0.089056
Gender_b                   -0.028934  1.000000          0.051674  -0.083916
Driver_License_t            0.031625  0.051674          1.000000   0.007649
Citizen_g                   0.089056 -0.083916          0.007649   1.000000
Citizen_s                  -0.109758  0.084069          0.020030  -0.930505
Bank_Customer_g             0.180583 -0.068062         -0.009784  -0.017953
Bank_Customer_p            -0.188964  0.071250          0.002402   0.039188
Marital_Status_u            0.180583 -0.068062         -0.009784  -0.017953
Marital_Status_y           -0.188964  0.071250          0.002402   0.039188
Education_Level_Group_high  0.295831 -0.136608          0.025672   0.118410
Education_Level_Group_low  -0.303695 -0.076763         -0.016236   0.012419

                            Citizen_s  Bank_Customer_g  Bank_Customer_p  \
id                          -0.024382        -0.050789         0.051876
Age                         -0.018712         0.106929        -0.099477
Debt                        -0.053121         0.010634        -0.008467
Years_Employed               0.011487         0.047698        -0.054342
Prior_Default                0.092985        -0.145073         0.138535
Employed                    -0.227403         0.175428        -0.170268
Credit_Score                -0.130871         0.113968        -0.111077
Income                      -0.058611        -0.006899        -0.057273
Approved                    -0.109758         0.180583        -0.188964
Gender_b                     0.084069        -0.068062         0.071250
Driver_License_t             0.020030        -0.009784         0.002402
Citizen_g                   -0.930505        -0.017953         0.039188
Citizen_s                    1.000000         0.007781        -0.018160
Bank_Customer_g              0.007781         1.000000        -0.992033
Bank_Customer_p             -0.018160        -0.992033         1.000000
Marital_Status_u             0.007781         1.000000        -0.992033
Marital_Status_y            -0.018160        -0.992033         1.000000
Education_Level_Group_high  -0.102505         0.098708        -0.103458
Education_Level_Group_low    0.008380        -0.088153         0.086723

                            Marital_Status_u  Marital_Status_y  \
id                                 -0.050789          0.051876
Age                                 0.106929         -0.099477
Debt                                0.010634         -0.008467
Years_Employed                      0.047698         -0.054342
Prior_Default                      -0.145073          0.138535
Employed                            0.175428         -0.170268
Credit_Score                        0.113968         -0.111077
Income                             -0.006899         -0.057273
Approved                            0.180583         -0.188964
Gender_b                           -0.068062          0.071250
Driver_License_t                   -0.009784          0.002402
Citizen_g                          -0.017953          0.039188
Citizen_s                           0.007781         -0.018160
Bank_Customer_g                     1.000000         -0.992033
Bank_Customer_p                    -0.992033          1.000000
Marital_Status_u                    1.000000         -0.992033
Marital_Status_y                   -0.992033          1.000000
Education_Level_Group_high          0.098708         -0.103458
Education_Level_Group_low          -0.088153          0.086723

                            Education_Level_Group_high  \
id                                           -0.166231
Age                                          -0.058549
Debt                                          0.054789
Years_Employed                                0.085773
Prior_Default                                -0.256384
Employed                                      0.198481
Credit_Score                                  0.138508
Income                                        0.044411
Approved                                      0.295831
Gender_b                                     -0.136608
Driver_License_t                              0.025672
Citizen_g                                     0.118410
Citizen_s                                    -0.102505
Bank_Customer_g                               0.098708
Bank_Customer_p                              -0.103458
Marital_Status_u                              0.098708
Marital_Status_y                             -0.103458
Education_Level_Group_high                    1.000000
Education_Level_Group_low                    -0.423296

                            Education_Level_Group_low
id                                           0.117306
Age                                          0.056122
Debt                                        -0.003023
Years_Employed                              -0.120382
Prior_Default                                0.230829
Employed                                    -0.217392
Credit_Score                                -0.137442
Income                                      -0.031031
Approved                                    -0.303695
Gender_b                                    -0.076763
Driver_License_t                            -0.016236
Citizen_g                                    0.012419
Citizen_s                                    0.008380
Bank_Customer_g                             -0.088153
Bank_Customer_p                              0.086723
Marital_Status_u                            -0.088153
Marital_Status_y                             0.086723
Education_Level_Group_high                  -0.423296
Education_Level_Group_low                    1.000000

In [23]:
## Transform the feature

df_select = df_transform
from sklearn import preprocessing
# Create min-max scaler
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0, 1))
# Create standardizer scaler
scaler = preprocessing.StandardScaler()

In [24]:
# Transform the feature
#df_select[['Age', 'Debt','Years_Employed','Income']] = scaler.fit_transform(df_select[['Age', 'Debt','Years_Employed','Income']])

#print(df_select.head())

#if want to reverse back the scaling: 
#df_select[['Age', 'Debt','Years_Employed','Income']] = scaler.inverse_transform(df_select[['Age', 'Debt','Years_Employed','Income']])

print(df_select.head())

    id    Age    Debt  Years_Employed  Prior_Default  Employed  Credit_Score  \
0  278  24.58    13.5           0.000              1         0             0
1   71  34.83     4.0          12.500              0         0             0
2  626  22.00  7835.0           0.165              1         0             0
3  238  42.83  4625.0           4.580              0         0             0
4  545  44.25    11.0           1.500              0         0             0

   Income  Approved  Gender_b  Driver_License_t  Citizen_g  Citizen_s  \
0       0         0       1.0               0.0        1.0        0.0
1       0         0       1.0               1.0        1.0        0.0
2       0         0       1.0               1.0        1.0        0.0
3       0         1       1.0               0.0        0.0        1.0
4       0         0       1.0               0.0        0.0        1.0

   Bank_Customer_g  Bank_Customer_p  Marital_Status_u  Marital_Status_y  \
0              0.0              1.0               0.0               1.0
1              1.0              0.0               1.0               0.0
2              0.0              1.0               0.0               1.0
3              1.0              0.0               1.0               0.0
4              0.0              1.0               0.0               1.0

   Education_Level_Group_high  Education_Level_Group_low
0                         0.0                        1.0
1                         0.0                        1.0
2                         0.0                        1.0
3                         1.0                        0.0
4                         0.0                        1.0

In [25]:
## set training, test, and validation

# set data input
X_Variables = df_select.drop(['Approved','id'], axis=1)
Y_Variable = df_select['Approved']

In [26]:
from sklearn.model_selection import train_test_split
# set 90 / 5 / 5
Train, Validate, Test = np.split(df_select.sample(frac=1), [int(.9*len(df)), int(.95*len(df))])
X_Train = Train.drop(['Approved','id'], axis=1)
Y_Train = Train['Approved']
print(X_Train.info())
print(Y_Train.head())

# set 90/10
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X_Variables, Y_Variable, test_size=0.1)

print(X_Train.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 621 entries, 258 to 496
Data columns (total 17 columns):
Age                           621 non-null float64
Debt                          621 non-null float64
Years_Employed                621 non-null float64
Prior_Default                 621 non-null int64
Employed                      621 non-null int64
Credit_Score                  621 non-null int64
Income                        621 non-null int64
Gender_b                      621 non-null float64
Driver_License_t              621 non-null float64
Citizen_g                     621 non-null float64
Citizen_s                     621 non-null float64
Bank_Customer_g               621 non-null float64
Bank_Customer_p               621 non-null float64
Marital_Status_u              621 non-null float64
Marital_Status_y              621 non-null float64
Education_Level_Group_high    621 non-null float64
Education_Level_Group_low     621 non-null float64
dtypes: float64(13), int64(4)
memory usage: 87.3 KB
None
258    1
193    1
306    0
672    1
131    0
Name: Approved, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 621 entries, 295 to 149
Data columns (total 17 columns):
Age                           621 non-null float64
Debt                          621 non-null float64
Years_Employed                621 non-null float64
Prior_Default                 621 non-null int64
Employed                      621 non-null int64
Credit_Score                  621 non-null int64
Income                        621 non-null int64
Gender_b                      621 non-null float64
Driver_License_t              621 non-null float64
Citizen_g                     621 non-null float64
Citizen_s                     621 non-null float64
Bank_Customer_g               621 non-null float64
Bank_Customer_p               621 non-null float64
Marital_Status_u              621 non-null float64
Marital_Status_y              621 non-null float64
Education_Level_Group_high    621 non-null float64
Education_Level_Group_low     621 non-null float64
dtypes: float64(13), int64(4)
memory usage: 87.3 KB
None

In [27]:
#save output to excel
df_output = df_select.drop(['Approved','id'], axis=1)
writer = pd.ExcelWriter('CRX Input - Machine Learning.xls')
df_output.to_excel(writer,'Sheet1')
writer.save()

In [28]:
## Machine Learning Part

# machine learning library
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

#to check performance of model
from sklearn.metrics import accuracy_score

#plot
import matplotlib.pyplot as plt

In [29]:
# Logistic Regression
logreg = LogisticRegression()
logreg.fit(X_Train, Y_Train)
logreg.score(X_Train, Y_Train)
Y_pred_log = logreg.predict(X_Test)

# Checking the model's accuracy
accuracy_score(Y_Test,logreg.predict(X_Test))

0.89855072463768115

In [30]:
# Support Vector Machines
svc = SVC()
svc.fit(X_Train, Y_Train)
svc.score(X_Train, Y_Train)
Y_pred_svc = svc.predict(X_Test)

# Checking the model's accuracy
accuracy_score(Y_Test,svc.predict(X_Test))

0.66666666666666663

In [31]:
# Random Forests
random_forest = RandomForestClassifier(n_estimators=200)
random_forest.fit(X_Train, Y_Train)
random_forest.score(X_Train, Y_Train)
Y_pred_rf = random_forest.predict(X_Test)

# Checking the model's accuracy
accuracy_score(Y_Test,random_forest.predict(X_Test))

0.91304347826086951

In [32]:
# Fitting k-NN on our scaled data set
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(X_Train, Y_Train)
knn.score(X_Train, Y_Train)
Y_pred_knn = knn.predict(X_Test)

# Checking the model's accuracy
accuracy_score(Y_Test,knn.predict(X_Test))

0.66666666666666663

In [33]:
# Gaussian Naive Bayes
gaussian = GaussianNB()
gaussian.fit(X_Train, Y_Train)
gaussian.score(X_Train, Y_Train)
Y_pred_gaussian = gaussian.predict(X_Test)

In [34]:
# Comparing standardize with no standardize
X1_Variables = df_transform.drop(['Approved','id'], axis=1)
Y1_Variable = df_transform['Approved']
# set 80/20
X1_Train, X1_Test, Y1_Train, Y1_Test = train_test_split(X1_Variables, Y1_Variable, test_size=0.2)

# Random Forests
random_forest = RandomForestClassifier(n_estimators=200)
random_forest.fit(X1_Train, Y1_Train)
random_forest.score(X1_Train, Y1_Train)
Y1_pred_rf = random_forest.predict(X1_Test)
# Checking the model's accuracy
accuracy_score(Y1_Test,random_forest.predict(X1_Test))

0.89855072463768115